body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #5a848c;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    padding-bottom: 8px;
    border-bottom: 3px solid #5a848c;
}

footer {
    background-color: #595757;
    padding: 20px 0;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: white;
    font-size: 10px;
}

article {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
}

.photo {
    background-color: lightgray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
}

article:nth-child(odd) .photo {
    float: left;
}
